/* Broilerplate */
html {
/* include border and padding in width and height */
box-sizing: border-box;
font-family: 'Roboto', helvetica, sans-serif;
}
img {
/* images responsive*/
    max-width: 100%;
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

.app-container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 55px 1fr 1fr;
    grid-gap: 5px;
    height: calc(100% - 10px);
    margin: 5px;
}

/*all the divs in the grid container*/
.app-container > div {
    border-radius: 5px;
    background-color: cadetblue;
    border: 1px solid black;
}

/*This is the navbar*/
.navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 55px;
    /*    flex below*/
    display: flex;
    align-items: center;
}

.navbar > div {
    padding: 10px;
}

.side-pane {
    grid-row-start: 2;
    grid-row-end: 4;
    /*    */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}


.map-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1 px solid #585858;
    border-radius: 4px;
}

#title {
    font-family: serif;
    font-weight: 800;
}

#spacer {
    flex: 1;
}

#map {
/*
    position: absolute;
    top: 0;
    bottom: 0;
*/
    width: 100%;
    height: 100%;
  }
          

